<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags-->
		<meta name="description" content="Администранивная панель">
		<link rel="icon" href="../static/icons/favicon.ico">
		<title>Администранивная панель</title>
		<!-- Bootstrap core CSS -->
		<link href='../static/css/bootstrap.min.css?v=1' rel='stylesheet' type='text/css'>
		<link href='../static/css/content.css?v=2' rel='stylesheet' type='text/css'>
		<link href='../static/css/admin.css?v=2' rel='stylesheet' type='text/css'>
		<link href='../static/css/icons.css?v=1' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="container-fluid">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#about-panel">Обо мне</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#portfolio-panel">Портфолио</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  data-toggle="tab" href="#contacts-panel">Контакты</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  data-toggle="tab" href="#icons-panel">Иконки</a>
				</li>
				<li class="nav-item"><p>Пользователь: {{ ses['username'] }}</p></li>
				<li class="nav-item">
					<form id="frmLogOut" method="POST" action="/logout">
						<input type="submit" class="btn btn-primary form-control" value="Выйти">
					</form>
				</li>
			</ul>
			<div class="tab-content">
				<div id="about-panel" class="tab-pane active">
					<h3>Обо мне</h3>
					<div class="ShowAbout" id="ShowAbout">
						<p>
						{% if info!=None %}
							{% autoescape false %}
								{{ info.about }}
								<br>
								{{ info.public }}
							{% endautoescape %}
						{% endif %}
						</p>
						<button type="button" class="btn btn-primary" id="btnAboutEdit">Редактировать</button>
					</div>
					{% include './admin/edit-about.html' %}
				</div>
				<div id="portfolio-panel" class="tab-pane fade">
					<h3>Портфолио</h3>
					{% include './admin/edit-portfolio.html' %}
				</div>
				<div id="contacts-panel" class="tab-pane fade">
					{% include './admin/list-contacts.html' %}
					{% include './admin/add-contact.html' %}
					{% include './admin/edit-contact.html' %}
				</div>
				<div id="icons-panel" class="tab-pane fade">
					<div class="row" id="addicon">
						{% include './admin/add-icon.html' %}
					</div>
					{% for row in icons %}
						<div class="row">
							<div class="col-md-2">
								<img src="{{ row.icon }}" width="100" height="100" alt="{{ row.desc }}">
							</div>
							<div class="col-md-8">
								<p>{{ row.desc }}"</p>
							</div>
							<div class="col-md-2">
								<form action="/delicon" method="POST">
									<input type="text" name="id" value="{{ row.id }}" hidden>
									<input type="submit" class="btn btn-primary" value="Удалить">
								</form>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div><!-- /.container -->
		<!--modal window-->
		{% include './admin/modal.html' %}
		<script src="../static/js/jquery-3.6.0.min.js?v=1" type="text/javascript"></script>
		<script src="../static/js/bootstrap.min.js?v=1" type="text/javascript"></script>
		<script src="../static/js/script.js?v=1" type="text/javascript"></script>
	</body>
</html>
