<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags-->
		<meta name="description" content="Администранивная панель">
		<link rel="icon" href="../static/icons/favicon.ico">
		<title>Администранивная панель</title>
		<!-- Bootstrap core CSS -->
		<link href='../static/css/bootstrap.min.css?v=1' rel='stylesheet' type='text/css'>
		<link href='../static/css/content.css?v=2' rel='stylesheet' type='text/css'>
		<link href='../static/css/admin.css?v=2' rel='stylesheet' type='text/css'>
		<link href='../static/css/icons.css?v=1' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="container-fluid">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#about-panel">Обо мне</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#portfolio-panel">Портфолио</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  data-toggle="tab" href="#contacts-panel">Контакты</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  data-toggle="tab" href="#icons-panel">Иконки</a>
				</li>
				<li class="nav-item"><p>Пользователь: {{ ses['username'] }}</p></li>
				<li class="nav-item">
					<form id="frmLogOut" method="POST" action="/logout">
						<input type="submit" class="btn btn-primary form-control" value="Выйти">
					</form>
				</li>
			</ul>
			<div class="tab-content">
				<div id="about-panel" class="tab-pane active">
					<h3>Обо мне</h3>
					<div class="ShowAbout" id="ShowAbout">
						<p>
						{% if info!=None %}
							{% autoescape false %}
								{{ info.about }}
								<br>
								{{ info.public }}
							{% endautoescape %}
						{% endif %}
						</p>
						<button type="button" class="btn btn-primary" id="btnAboutEdit">Редактировать</button>
					</div>
					<div id="EditAbout" class="EditAbout">
						<form id="frmEditAbout" method="POST" action="{{ url_for('admin') }}">
							{{ frm_a.csrf_token }}
							{{ frm_a.hidden_tag() }}
							<div>
								<input type="button" value="Просмотр"
									class="btn-edit btn btn-primary btn-lg form-control" id="btnShowAbout">
								<input type="button" value="Отменить"
									class="btn-edit btn btn-primary btn-lg form-control" id="btnCancelAbout">
								{{ frm_a.submit(class_="btn-edit btn btn-primary btn-lg form-control") }}
								<input type="button" value="Удалить"
									class="btn-edit btn btn-primary btn-lg form-control" id="btnDeleteAbout">
							</div><br>
							{{ frm_a.dtime.label }}&nbsp;
							{% if info!=None %}
								<input type="hidden" id="about_id" name="about_id" value="{{ info.id }}">
								{{ frm_a.dtime(class_="form-control",type="datetime",value=""+info.public.strftime("%Y-%m-%d %H:%M:%S")+"") }}<br>
							{% else %}
								{{ frm_a.dtime(class_="form-control",type="datetime",value="") }}<br>
							{% endif %}
							{% if frm_a.dtime.errors %}
								<ul style="color: red;">
									{% for error in frm_a.dtime.errors %}
										<li>{{ error }}</li>
									{% endfor %}
								</ul>
							{% endif %}
							{# frm_a.text(class_="form-control",rows="12") #}
							<textarea rows="12" name="text" class="form-control">
								{% if info!=None %}
									{{ info.about }}
								{% endif %}
							</textarea>
							{% if frm_a.text.errors %}
								<ul style="color: red;">
									{% for error in frm_a.text.errors %}
										<li>{{ error }}</li>
									{% endfor %}
								</ul>
							{% endif %}
						</form>
					</div>
				</div>
				<div id="portfolio-panel" class="tab-pane fade">
					<h3>Портфолио</h3>
					<div class="ShowPortfolio" id="ShowPortfolio">
						<div class="row">
							<form id="frmUplP" method="POST" enctype="multipart/form-data"
							action="{{ url_for('admin') }}"><!--enctype="multipart/form-data"-->
								{{ frm_p.csrf_token }}
								{{ frm_p.hidden_tag() }}
								<div class="row">
									<div class="col-md-2">
										{{ frm_p.fname.label }}
									</div>
									<div class="col-md-10">
										{{ frm_p.fname(class_="form-control") }}
									</div>
								</div>
								&nbsp;
								<div class="row">
									<div class="col-md-2">
										{{ frm_p.fdesc.label }}
									</div>
									<div class="col-md-10">
										{{ frm_p.fdesc(class_="form-control") }}
									</div>
								</div>
								<div class="row">
									<div class="col">
										{{ frm_p.submit(class_="btn-edit btn btn-primary form-control") }}
									</div>
								</div>
							</form>
						</div>
						&nbsp;
						<div class="row">
							<div class="col">
								<strong>Примеры:</strong>
							</div>
						</div>
						{% for row in pimg %}
							<div class="row">
								<div class="col-md-2">
									<img src="{{ row.photo }}" width="100" height="100" alt="{{ row.tdesc }}">
								</div>
								<div class="col-md-8">
									<p>{{ row.desc }}"</p>
								</div>
								<div class="col-md-2">
									<form action="/delimg" method="POST">
										<input type="text" name="id" value="{{ row.id }}" hidden>
										<input type="submit" class="btn btn-primary" value="Удалить">
									</form>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<div id="contacts-panel" class="tab-pane fade">
					<h3>Контакты</h3>
					<div class="ListContact" id="ListContact">
						<div class="row">
							<div class="col">
								<button id="btnAddCont" class="btn btn-primary">Добавить контакт</button>
							</div>
						</div>
						<div class="row">&nbsp;</div>
						{% for c in icontact %}
							<div class="row">
								<div class="col-md-2">
									{% for row in icons %}
										{% if row.id==c[2] %}
											<img src="{{ row.icon }}" class="contact-icon" title="{{ row.desc }}">&nbsp;
										{% endif %}
									{% endfor %}
								</div>
								<div class="col-md-6">
									<strong class="noselect">{{ c[1] }}</strong>
								</div>
								<div class="col-md-2">
									<button type="button" class="btn btn-primary edc" value="{{ c[0] }}" action="">
										Изменить
									</button>
								</div>
								<div class="col-md-2">
									<form action="/delcontact" method="POST">
										<input type="text" name="id" value="{{ c[0] }}" hidden>
										<input type="submit" class="btn btn-primary" value="Удалить">
									</form>
								</div>
							</div>
							<div class="row">&nbsp;</div>
						{% endfor %}
					</div>
					<div class="row AddContact" id="AddContact">
						<form id="frmAddContact" method="POST" action="{{ url_for('admin') }}">
							{{ frm_c.csrf_token }}
							{{ frm_c.hidden_tag() }}
							{{ frm_c.contact.label }}
							{{ frm_c.contact(class_="form-control") }}
							{{ frm_c.icons.label }}
							{{ frm_c.icons }}
							{{ frm_c.submit(class_="btn btn-primary",id="btnAddContact") }}&nbsp;
							<button class="btn btn-primary" id="btnAddContCancel">Отмена</button>
						</form>
					</div>
					<div class="row EditContact" id="EditContact">
						<strong>Изменить контакт</strong>
						<form id="frmEditContact" method="POST" action="{{ url_for('admin') }}">
							{{ frm_b.csrf_token }}
							{{ frm_b.hidden_tag() }}
							{{ frm_b.eid(class_="HidenElement",id="edId") }}
							{{ frm_b.econtact.label }}
							{{ frm_b.econtact(class_="form-control",id="eContact") }}
							{{ frm_b.eicons.label }}
							{{ frm_b.eicons }}
							{{ frm_b.esubmit(class_="btn btn-primary",id="btnEditContact") }}&nbsp;
							<button class="btn btn-primary" id="btnEditContCancel">Отмена</button>
						</form>
					</div>
				</div>
				<div id="icons-panel" class="tab-pane fade">
					<div class="row" id="addicon">
						<form id="frmAddIcon" method="POST" enctype="multipart/form-data"
						action="{{ url_for('admin') }}">
							{{ frm_add_ico.csrf_token }}
							{{ frm_add_ico.hidden_tag() }}
							<div class="row">
								<div class="col-md-12">
									{{ frm_add_ico.icon.label }}
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									{{ frm_add_ico.icon(class_="form-control",type="file",value="") }}
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									{{ frm_add_ico.idesc.label }}
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">


									{{ frm_add_ico.idesc(class_="form-control",type="text",value="") }}
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									{{ frm_add_ico.submit(class_="btn btn-primary") }}
								</div>
							</div>
						</form>
					</div>
					{% for row in icons %}
						<div class="row">
							<div class="col-md-2">
								<img src="{{ row.icon }}" width="100" height="100" alt="{{ row.desc }}">
							</div>
							<div class="col-md-8">
								<p>{{ row.desc }}"</p>
							</div>
							<div class="col-md-2">
								<form action="/delicon" method="POST">
									<input type="text" name="id" value="{{ row.id }}" hidden>
									<input type="submit" class="btn btn-primary" value="Удалить">
								</form>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div><!-- /.container -->
		<script src="../static/js/jquery-3.6.0.min.js?v=1" type="text/javascript"></script>
		<script src="../static/js/bootstrap.min.js?v=1" type="text/javascript"></script>
		<script src="../static/js/script.js?v=1" type="text/javascript"></script>
	</body>
</html>
