<!DOCTYPE html>
<html>
	<head>
		<title>Портфолио</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="x-ua-compatible" content="IE=edge">
		<link href='../static/css/bootstrap.min.css?v=1' rel='stylesheet' type='text/css'>
		<link href='../static/css/display.css?v=2' rel='stylesheet' type='text/css'>
		<link href='../static/css/content.css?v=8' rel='stylesheet' type='text/css'>
		<link href='../static/css/icons.css?v=1' rel='stylesheet' type='text/css'>
		<link href='../static/css/media.css?v=1' rel='stylesheet' type='text/css'>
		<link href="../static/css/jquery.fancybox.css?v=1" rel="stylesheet" type="text/css">
	</head>
	<body>
		{% with messages=get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<script type="text/javascript">
						alert("{{ message }}");
					</script>
				{% endfor %}
			{% endif %}
		{% endwith %}
		<!--Экран-->
		<div class="container-fluid all-display" id="all-display">
			<!--Шапка-->
			<div class="container" id="content-header">
				<div class="container content-header">
					<div class="row">
						<div class="col-md-6">
							<div class="row header-text">
								<div class="col-sm-6">
									<!--Побуждение,-слоган...-->
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<!-- Button trigger modal -->
									<button type="button" class="btn btn-primary call-sms-btn" data-toggle="modal" data-target="#exampleModal">
										Заказать звонок
									</button>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<form class="form header-form" id="frmMail" method="POST" action="">
								{# form.csrf_token #}
								<div class="form-group">
									{# form.phone.label(class_="noselect") #}
									{# form.phone(class_="form-control") #}
								</div>
								<div class="form-group">
									{# form.email.label(class_="noselect") #}
									{# form.email(class_="form-control") #}
								</div>
								<div class="form-group">
									{# form.desc.label(class_="noselect") #}
									{# form.desc(class_="form-control",rows=3) #}
								</div>
								{# form.submit(class_="btn btn-primary") #}
							</form>
						</div>
					</div>
				</div>
			</div>
			<!--Меню-->
			<div class="container" id="menu">
				<!-- Content Menu here -->
				<div class="container content-menu">
					<nav class="navbar navbar-inverse"><div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
								<ul class="nav navbar-nav">
									<li class="nav-item">
										<a class="nav-link" href="#">Главная</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#about">Обо мне</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#uslugi">Услуги</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#portfolio">Портфолио</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#contacts">Контакты</a>
									</li>
								</ul>
							</div><!-- /.navbar-collapse -->
						</div><!-- /.container-fluid -->
					</nav>
				</div>
			</div>
			<!--Обо-мне-->
			<div class="container" id="about">
				<!-- Content here -->
				<div class="container content-about">
					<div class="row">
						<div class="col-sm-12">
							<div class="about-block">
								<h3 class="noselect">Обо мне</h3>
								{% autoescape false %}
									{{ info }}
								{% endautoescape %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Услуги-->
			<div class="container" id="uslugi">
				<!-- Content here -->
				<div class="container content-uslugi" id="content-uslugi">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="noselect">Услуги</h3>
							<div class="uslugi-block">
								<div class="row">
									<div class="col-sm-4">
										<img src="../static/images/icons/db_1.png" class="usluga-img" alt="Разработка Баз Данных"><br>
										<span ><h6 class="img-title noselect">Разработка Баз Данных</h6></span>
									</div>
									<div class="col-sm-4">
										<img src="../static/images/icons/site.png" class="usluga-img" alt="Разаработка и соправождение сайтов"><br>
										<span><h6 class="img-title noselect">Разаработка сайтов</h6></span>
									</div>
									<div class="col-sm-4">
										<img src="../static/images/icons/pc4.png" class="usluga-img" alt="Прикладное программирование"><br>
										<span><h6 class="img-title noselect">Прикладное программирование</h6></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Портфолио-->
			<div class="container" id="portfolio">
				<div class="container content-portfolio">
					<div class="row">
						<div class="col-sm-12">
							<div class="uslugi-block">
								<h3 class="noselect">Портфолио</h3>
								<div class="gallery">
									<hr class="my-5" />
										<p class="imglist">
											{% for row in portfolio %}
												<a href="{{ row.photo }}" data-fancybox="images" title="{{ row.desc }}">
													<img src="{{ row.photo }}" />
												</a>
											{% endfor %}
										</p>
									</hr>
								</div><br>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Контакты-->
			<div class="container" id="contacts">
				<div class="container content-contacts">
					<div class="row">
						<div class="col-md-3">
							<ul class="nav flex-column noselect">
								<li class="nav-item active">
									<a class="nav-link" href="#">Главная</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#about">Обо мне</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#uslugi">Услуги</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#portfolio">Портфолио</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#contacts">Контакты</a>
								</li>
							</ul>
						</div>
						<div class="col-md-6">
							<h3 class="noselect">Контакты</h3>

						</div>
						<div class="col-md-3">

						</div>
					</div>
					<div class="row">
						<p class="copyrite noselect">2019</p>
					</div>
				</div>
				<div class="scrollup">
					<!-- Иконка fa-chevron-up (Font Awesome) -->
					<i class="fa fa-chevron-up"><img src="../static/images/icons/up.png"
						class="up-icon" alt="Наверх" title="Наверх"></i>
				</div>
			</div>
		</div>
		<script src="../static/js/jquery-3.6.0.min.js?v=1" type="text/javascript"></script>
		<script src="../static/js/bootstrap.min.js?v=1" type="text/javascript"></script>
		<script src="../static/js/jquery.fancybox.min.js?v=1" type="text/javascript"></script>
		<script src="../static/js/galary.js?v=1" type="text/javascript"></script>
	</body>
</html>
